<link rel="stylesheet" href="/css/user_sign_in.css">



<h1>Sign In</h1>

<form action="/users/create-session" method="POST">
    <input type="email" name="email" placeholder="Email"  required>
    <input type="password" name="password" placeholder="Password"  required>
    <input type="submit" value="Sign In">

</form>

<p>
    <a href="/users/auth/google"><img style="height: 30px ;width:40px;" src="https://image.flaticon.com/icons/png/512/281/281764.png"></a>

</p>

 
<!-- 
<h1>Sign Up</h1>

<form action="/users/create" method="POST">
  <input type="text" name="name" placeholder="Your Name" required>
  <input type="email" name="email" placeholder="Your Email" required>
  <input type="password" name="password" placeholder="Password" required>
  <input type="password" name="confirm_password" placeholder="Confirm Password" required>
  <input type="submit" value="Sign Up">

</form>

<p>
    <a href="/users/auth/google"><img style="height: 30px ;width:40px;" src="https://image.flaticon.com/icons/png/512/281/281764.png"></a>
</p>
 


 <div class="containerS right-panel-active">
 -->
<!-- <script>

    const signInBtn = document.getElementById("signIn");
    const signUpBtn = document.getElementById("signUp");
    const fistForm = document.getElementById("form1");
    const secondForm = document.getElementById("form2");
    const container = document.querySelector(".containerS");
    
    signInBtn.addEventListener("click", () => {
        container.classList.remove("right-panel-active");
    });
    
    signUpBtn.addEventListener("click", () => {
        container.classList.add("right-panel-active");
    });
    
    // fistForm.addEventListener("submit", (e) => e.preventDefault());
    // secondForm.addEventListener("submit", (e) => e.preventDefault());
    
    </script> --> -->